@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Azeret Mono", monospace;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
.container{
    max-width: 1140px;
    margin: 0px auto;
}

.header{
    padding: 35px 16px;
}
.header-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-logo{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
}
.header-button{
    display: inline-block;
    color: rgb(13, 19, 33);
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    text-decoration: none;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.hero-section{
    padding: 26px 16px 44px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
.hero-image{
    width: 240px;
    height: 240px;
    margin-bottom: 32px;
}
.hero-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    line-height: 68px;
    font-weight: 800;
    margin-bottom: 24px;
}
.hero-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}
.hero-button{
    display: inline-block;
    color: white;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-decoration: none;
}

.reason-section{
    padding-top: 76px;
}
.reason-content{
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.reason-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.reason-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.reason-cards{}
.reason-card{
    padding: 48px;
    border-radius: 16px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)),to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.reason-card:nth-of-type(2n){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)),to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(right, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.reason-card:last-of-type{
    margin-bottom: 0px;
}
.reason-card-content{
    width: 50%;
}
.reason-card-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 16px;
}
.reason-card-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 32px;
}
.reason-card-button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.inspiration-section{
    padding-top: 88px;
}

.inspiration-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.inspiration-videoBox{
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspiration-videoWrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.inspiration-videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.current-target-section{
    padding-top: 150px;
}
.current-target-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.current-target-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.target-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}
.target-card{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 40px;
    border-radius: 16px;
    width: 33%;
}
.target-card:nth-of-type(1){
    background: rgba(255, 76, 30, 0.05);
}
.target-card:nth-of-type(2){
    background: rgba(0, 76, 232, 0.05);
}
.target-card:nth-of-type(3){
    background: rgba(255, 223, 0, 0.05);
}
.target-icon{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.target-title{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}
.target-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 24px;
}
.target-link{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.next-target-section{
    padding-top: 150px;
}
.next-target-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.next-target-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.target-cards-2{

}

.target-cards-2 .target-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    background-color: white;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.target-cards-2 .target-icon{
    width: 100px;
    height: auto;
    margin-right: 24px;
    margin-bottom: 0px;
}

.contact-section{
    padding: 50px 0px 80px;
}
.contact-title{
    color: white;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.contact-description{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.contact-content{
    padding: 64px;
    border-radius: 16px;
    /* background-image: url("../assets/handshake.jpg"); */
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.2)),to(rgba(0, 0, 0, 0.2))), url("../assets/handshake.jpg");
    background:-o-linear-gradient(top,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../assets/handshake.jpg");
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-input-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contact-input,
.contact-button{
    font-size: 18px;
    padding: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.contact-input{
    width: 518px;
    margin-right: 16px;
}
.contact-button{
    font-weight: 600;
}

.footer{
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-left{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}
.footer-socials{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer-socials li{
    margin-left: 24px;
}
.footer-socials img{
    width: 36px;
}